@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url('assets/pacote-d013/images/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

#social-medias {
    position: absolute;
    left: 95%;
    margin: 10px;
}

#social-medias a {
    display: inline-block;
    border-radius: 50%;
}

#social-medias a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#cellphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cellphone iframe {
    position: absolute;
    width: 268px;
    right: 0%;
    left: 7%;
    top: 12.5%;
    height: 473px;
}