@media only screen and (min-width:768px) {
    body {
        background: #5F2C82;
        background: linear-gradient(180deg, rgba(95, 44, 130, 1) 0%, rgba(67, 140, 140, 1) 70%, rgba(148, 207, 205, 1) 100%);
    }

    main {
        height: 70vh;
    }

    div#img-metal {
        display: inline-block;
        width: 40%;
        height: 70vh;
        border-radius: 20px 0px 0px 20px;
        background-position: left;
    }

    div#register-main {
        display: inline-block;
        height: 250px;
        width: 50%;
        position: relative;
        left: 5%;
        bottom: 20vh;
    }

    #inputs-menu label input {
        left: 45;
    }
}

@media only screen and (min-width:1024px) {
    main {
        width: 90vw;
        max-width: 1024px;
        height: 90vh;
        max-height: 400px;
    }

    div#register-main {
        height: 350px;
        width: 48%;
        position: relative;
        bottom: 15vh;
        left: 2%;
    }

    div#img-metal {
        right: 0px;
        border-radius: 0px 20px 20px 0px;
        width: 48%;
        height: 90vh;
        max-height: 400px;
    }

    #button-submit,
    #button-forget-password {
        width: 50%;
        margin: auto;
    }
}