@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    height: 200px;
}

main {
    min-height: 200px;
    text-align: center;
    opacity: 0.4;
}

main h2 {
    padding: 15px 0px;
}

#portrait,
#landscape {
    display: none;
}