* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

div>h1 {
    font-size: 2.2em;
}

div>p {
    font-size: 1.1em;
}

main {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    padding: 8px;
    background-color: lightgray;
}

.container {
    display: flex;
}

.divCasemiro {
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.divCasemiro div {
    flex-grow: 0;
    flex-shrink: 1;
    width: 400px;
    order: 1;

}

.divCasemiro img {
    min-width: 200px;
    max-width: 400px;
    flex-shrink: 1;
    height: 400px;
    order: 0;
}

.div-Media-Text {
    flex-flow: row wrap;
    justify-content: center;
}

.div-Media-Text div {
    flex: 1 0 200px
}

.div-Media-Text iframe {
    min-width: 200px;
    max-width: 600px;
    height: 320px;
}