@charset "UTF-8";


@media only screen and (min-width:768px) {
    /* landscape tablets */

    img#phone,
    img#pc,
    img#print,
    img#tv {
        display: none;
    }

    img#tablet {
        display: block;
    }
}

@media only screen and (min-width:992px) {
    /* laptops and desktops */

    img#phone,
    img#print,
    img#tablet,
    img#tv {
        display: none;
    }

    img#pc {
        display: block;
    }
}

@media only screen and (min-width:1400px) {
    /* TV */

    img#phone,
    img#pc,
    img#print,
    img#tablet {
        display: none;
    }

    img#tv {
        display: block;
    }
}