@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
    background: black url(../../assets/back-phone.jpg) no-repeat;
}

main {
    background-color: rgba(255, 255, 255, 0.753);
    width: 80vw;
    margin: 15px auto;
    border-radius: 5px;

    text-align: center;
    box-shadow: 1px 2px 4px 0px #49454591;
}

main img {
    margin: auto;
}

img#pc,
img#print,
img#tablet,
img#tv {
    display: none;
}