body,
div {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-color: white;
    margin: 0px;
    padding: 0px;
    background-size: 100vw 100%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

p {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px 25px;
    border-radius: 5px;
    margin-bottom: 20px;
}