@media screen and (min-width: 375px) {
    div#details-video iframe {
        height: 190px;
    }
}

@media screen and (min-width: 425px) {
    main {
        grid-template-rows: 450px 250px 1fr;
    }

    div#details-video iframe {
        height: 173px;
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 425px) {
    .project-inside-modal {
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    header {
        margin-bottom: 40px;
    }

    header div .material-symbols-outlined {
        font-size: 2.5em;
    }

    main {
        grid-template-columns: 3% 210px 3fr 3%;
        grid-template-rows: 300px 510px 1fr;
        position: relative;
    }

    main div#description {
        position: fixed;
        grid-area: 1/2 / span 1 /span 1;
        width: 23%;
        height: 85%;
        align-self: flex-start;
    }

    div#details {
        grid-area: 1/3 / span 1/span 1;
    }


    div#details-video iframe {
        height: 195px;
        width: 80%;
    }

    div#skills {
        grid-area: 2/3 / span 1 /span 1;
    }

    div#educational {
        grid-area: 3/3 / span 1 /span 1;
    }

    div#projects {
        grid-area: 4/3 / span 1 /span 1;
    }

    .project-inside-modal {
        display: flex;
        flex-flow: row nowrap;
        padding: 10px 10px 0px 10px;
    }

    .project-inside-modal .project-text {
        width: 90%;
    }

    .project-inside-modal .project-image {
        order: 1;
        height: 175px;
    }

    .project-text {
        font-size: 1.1em;
    }

}

@media screen and (min-width: 1024px) {
    header {
        justify-content: end;
    }

    main {
        grid-template-rows: 400px 1fr 1fr;
        grid-template-columns: 3% 300px 3fr 3%;
    }

    div#details-video iframe {
        height: 320px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    footer a {
        text-indent: 5px;
    }
}

@media screen and (min-width: 1440px) {

    main {
        grid-template-rows: 575px 1fr 1fr;
    }

    div#description {
        max-width: 240px;
    }

    div#details {
        max-width: 1400px;
    }

    div#details-video iframe {
        height: 490px;
    }

    .project-inside-modal {
        display: flex;
        justify-content: space-between;
    }
}