@media screen and (max-width: 376px) {
    main {
        grid-template-columns: 0% 1fr 0%;
        grid-template-rows: 450px 230px 1fr;
    }
}

@media screen and (min-width: 376px) {
    main {
        grid-template-rows: 390px auto 1fr;
    }
}

@media screen and (min-width: 425px) {
    .project-inside-modal {
        height: 100%;
    }

    section#details #details-text h2 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 768px) {
    header {
        margin-bottom: 25px;
    }

    header div .material-symbols-outlined {
        font-size: 2.5em;
    }

    main {
        grid-template-columns: 3% 260px 3fr 3%;
        grid-template-rows: 400px repeat(2, auto);
        position: relative;

        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }

    main section#description {
        position: sticky;
        grid-area: 1/2 / span 1 /span 1;
        top: 60px;
    }

    main section#description h2 {
        font-size: 1.4em;
    }

    section#details {
        grid-area: 1/3 / span 1/span 1;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    section#skills {
        grid-area: 2/3 / span 1 /span 1;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    #skills-graph {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;
        font-size: 0.8em;
    }

    section#educational {
        grid-area: 3/3 / span 1 /span 1;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    section#projects {
        grid-area: 4/3 / span 1 /span 1;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .project-inside-modal {
        display: flex;
        flex-flow: row nowrap;
        padding: 10px 10px 0px 10px;
    }

    .project-inside-modal .project-text {
        width: 90%;
    }

    .project-inside-modal .project-image {
        order: 1;
        height: 175px;
    }

    .project-text {
        font-size: 1.1em;
    }

}

@media screen and (min-width: 1024px) {
    header {
        justify-content: end;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    footer a {
        margin: 0px 5px;
    }

    #skills-graph {
        font-size: 1.3em;
    }

    @media screen and (min-width: 1440px) {

        section#description {
            max-width: 240px;
        }

        section#details {
            max-width: 1400px;

        }

        .project-inside-modal {
            display: flex;
            justify-content: space-between;
        }
    }
}