@media screen and (min-width: 375px) {
    div#details-video iframe {
        height: 190px;
    }
}

@media screen and (min-width: 425px) {
    div#details-video iframe {
        height: 215px;
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    header {
        margin-bottom: 40px;
    }

    main {
        grid-template-columns: 3% 1fr 3fr 3%;
        grid-template-rows: 460px 1fr 1fr;
        position: relative;
    }

    main div#description {
        position: fixed;
        grid-area: 1/2 / span 1 /span 1;
        width: 23%;
        height: 85%;
        align-self: flex-start;
    }

    div#details {
        grid-area: 1/3 / span 1/span 1;
    }


    div#details-video iframe {
        height: 195px;
        width: 80%;
    }

    div#skills {
        grid-area: 2/3 / span 1 /span 1;
    }

    div#educational {
        grid-area: 3/3 / span 1 /span 1;
    }
}

@media screen and (min-width: 1024px) {

    div#details-video iframe {
        height: 350px;
    }
}

@media screen and (min-width: 1440px) {

    main {
        grid-template-rows: 560px 1fr 1fr;
    }

    div#description {
        max-width: 460px;
    }

    div#details {
        max-width: 1400px;
    }

    div#details-video iframe {
        height: 490px;
    }

}