:root {
    --main-background: rgb(211, 211, 211);
    --inverted-background: black;
    --text: black;
    --inversed-text: black;
    --emphasis: #0077ff;
    --inversed-emphasis: #66bbff;
}

body.dark {
    --main-background: black;
    --inverted-background: rgb(176, 174, 174);
    --text: white;
    --inversed-text: black;
    --emphasis: rgb(196, 134, 19);
    --inversed-emphasis: rgb(255, 166, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    color: var(--text);
}

header {
    gap: 5%;
    padding: 10px;
    background-color: var(--emphasis);

    position: sticky;
    top: 0;
    z-index: 1;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

    list-style-type: none;
}

header li {
    display: flex;
    align-items: center;
}

header li a {
    text-decoration: none;
    border-radius: 5px;
    padding: 7px;
    transition-duration: 0.35s;
    color: var(--inversed-text);
}

header li a:hover {
    background-color: var(--inversed-emphasis);
    color: var(--text);
}

header nav li .material-symbols-outlined {
    font-size: 2em;
}

main {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 500px auto 1fr;
    justify-items: center;

    border-radius: 10px;
    background-color: var(--main-background);
}

section#description {
    grid-area: 1/2 / span 1/ span 1;
    width: 100%;
    font-size: 0.85em;

    padding: 15px;
}

#description-img {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

    height: 150px;
    width: 150px;

    border-radius: 50%;
    border: 3px var(--emphasis) solid;
}

#description-img div {
    width: 100%;
    height: 100%;

    margin: auto;
}

#description-img div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

#description-text {
    display: flex;
    flex-flow: row wrap;

    padding: 5px;
    text-align: left;

}

main h2 {
    color: var(--emphasis);
    margin-bottom: 10px;
}

#description-text p {
    text-align: left;
}

#links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;

    margin: 15px auto;
    min-height: 30px;

}

#links a {
    display: flex;
    justify-content: center;

    transition-duration: 0.4s;
    border-radius: 2px;
    transition-duration: 0.5s;
}

#links a:hover {
    scale: 1.3;
}

#links img {
    width: 90%;
    height: 100%;
}

#links svg {
    fill: var(--emphasis);
    width: 90%;
    height: 100%;
}

#links svg:hover {
    fill: var(--inversed-emphasis);
}

section#details {
    grid-area: 2/2 / span 1/span 1;
    width: 90%;

    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

section#details #details-text {
    margin: 5px 0px;
}

section#details #details-text h2 {
    font-size: 1.25em;
}

.material-symbols-outlined {
    position: relative;
    top: 5px;
}

section#details span {
    margin-left: 10px;
}

section#details span,
section#details h2 {
    display: inline-block;
}

.handshake {
    margin-right: 10px;
}

div#details-video {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    max-height: 80%;
    margin: auto;

}

div#details-video iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

section#skills {
    grid-area: 3/2 / span 1/span 1;
    width: 90%;
    margin-top: 20px;
}

.skills-pattern {
    margin-bottom: 14px;
}

.skills-pattern .skills-pattern-text {
    display: flex;
    justify-content: space-between;
}

.skills-pattern .line {
    background-color: lightgray;
    height: 10px;
    border-radius: 5px;
    margin: 5px auto;
}

.skills-pattern .line .inside-line {
    background-color: var(--inversed-emphasis);
    height: 10px;
    border-radius: 5px;
}

.line-html5,
.line-teamwork {
    width: 90%;
}

.line-css3,
.line-leadership {
    width: 80%;
}

.line-javascript {
    width: 75%;
}

.line-php {
    width: 60%;
}

.line-adaptability {
    width: 85%;
}

section#educational {
    grid-area: 4/2 / span 1 /span 1;
    width: 90%;
}

.educational-modal {
    justify-self: end;
    background-color: lightgray;
    color: var(--inversed-text);
    width: 98%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}

.educational-modal:hover {
    width: 96%;
    transition-duration: .4s;
}

.educational-modal .educational-year {
    font-weight: bold;
}

.educational-modal .educational-institution {
    font-size: 1.2em;
    color: rgb(8, 0, 255);
    margin: 3px 0px;
}

.educational-pre-modal {
    background-color: rgb(63, 63, 213);
    border-radius: 10px 11px 11px 10px;
}

#projects {
    margin-top: 15px;
    grid-area: 5/2 / span 1 /span 1;
    width: 90%;
    color: var(--inversed-text);
}

.project-modal {
    display: flex;
    justify-content: right;

    background-color: var(--emphasis);
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
}

#projects a {
    text-decoration: none;
    color: var(--inversed-text);
}

.project-inside-modal {
    background-color: lightgray;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    transition-duration: 0.5s;
    margin-left: 10px;
}

.project-inside-modal:hover {
    margin-left: 20px;
}

.project-inside-modal .project-image {
    text-align: center;
    margin: 2px;

}

.project-inside-modal img {
    width: 95%;
    height: 100%;
}

.project-text {
    font-size: 1.2em;
}

.project-text:nth-child(1n) {
    margin-top: 4px;
}

.project-text .project-name {
    font-size: 1.15em;
    font-weight: bold;
}

footer {
    background-color: var(--emphasis);
    color: var(--inversed-text);
    width: 100%;
    min-height: 50px;
    font-size: 1.2em;
    padding: 5px;
    margin-top: 50px;
}

footer a {
    color: var(--inversed-emphasis);
    font-weight: bold;
}

#educational,
#projects {
    margin-top: 30px;
}