@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;

    grid-template-columns: 1fr 150px;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;

    height: 100vh;
    background-color: lightgray;
}

header {
    grid-area: 1/1 / 2/-1;
    background-color: brown;
}

nav {
    grid-area: 2/1 /3/-1;
    background-color: green;
}

main {
    grid-area: 3/1 / 4/-1;
    background-color: white;
}

aside {
    grid-area: 4/1 / 5/-1;
    background-color: orangered;
}

footer {
    grid-area: -2/1 / -1/-1;
    background-color: blue;
}