@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: lightcoral;
    height: 100px;
}

header h1 {
    padding: 5px 10px;
}

header menu li {
    display: inline-block;
    margin-left: 10px;
}

header menu a {
    text-decoration: none;
    color: black;
    font-size: bold;
}

main {
    margin: auto;
}

main div {
    margin: auto;
    text-align: center;
    width: 550px;
}

main div h2 {
    padding: 10px 0px;
}

main div p {
    padding: 3px 0px;
}

footer {
    background-color: darkgray;
    height: 100px;
}

footer div {
    display: block;
    margin: auto;
    text-align: center;
}

footer div h3 {
    margin-bottom: 5px;
}

footer div#credits {
    margin-top: 20px;
}