@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(233, 125, 125);
    padding-bottom: 10px;
}

header h1 {
    padding: 10px;
}

header>a {
    text-decoration: none;
    color: black;
}

header div {
    background-color: rgb(168, 90, 90);
    width: 5em;
    border-radius: 3px;
    margin: auto;
    text-align: center;
    transition-duration: 1s;
}

header div:hover {
    background-color: rgb(151, 90, 90);
    cursor: pointer;

}

header nav {
    display: none;
    margin-top: 0.5em;
}

header nav ul li {
    list-style: none;
    background-color: rgb(168, 90, 90);
    width: 50vw;
    text-align: center;
    margin: 2px auto;
    padding: 3px 0px;
    border-radius: 3px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.05em;
}

main {
    background-color: whitesmoke;
    padding: 10px;
    width: 60vw;
    margin: 15px auto;
    border-radius: 5px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}