* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --lightgray: rgb(207, 202, 202);
}

#pull_up_my_modal {
    display: block;
    margin: 10px auto; 
    padding: 5px;
}

#my_modal {
  background-color: var(--lightgray);
  height: 500px;
  width: 50vw;

  margin: auto;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px #575757cf;
  
  display: none;
}

#my_modal.active {
    display: block;
    overflow: hidden;
}

#my_modal_content {
    display: grid;
    grid-template-areas: 
    "header"
    "flavors";

    grid-template-rows: 50px 1fr;
}

#modal_header {
    grid-area: "header";
    margin-bottom: 30px;
}
#modal_header hr {
    background-color: rgb(22, 19, 19);
    border: none;
    height: 2px;
}

#modal_flavors {
    grid-area: "flavors"
}

#my_modal_content button {
    background-color: var(--lightgray);
    height: 100%;
    width: 15%;
    
    text-align: left;
    border: 0px;
    
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 20px;
}

#my_modal_content button:hover {
    cursor: pointer;
}

#modal_flavors h3 {
    font-weight: 600;
    margin: 5px 0px;
}
.modal_card {
    border: 1px black solid;
    border-radius: 5px;

    display: grid;
    grid-template-areas: 
    "title image"
    "commentary image";
}

.modal_card h4 {
    grid-area: title;
}

.modal_card p {
    grid-area: commentary;
    align-self: flex-end;
}

.modal_card img {
    grid-area: image;
}